<div class="article">
    <div class="title">
        <h2>{{ page.title }} </h2>
    </div>
    <div class="meta">
        <span class="time">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
        </span>
        {% if page.categories %}
        <span class="categories">
          <span class="icon-bookmark" title="Categories"></span>
          {% for category in page.categories %}
          <a href="{{site.JB.categories_path}}#{{ category }}" title="{{ category }}">{{ category }}</a>
          {% endfor %}
        </span>
        {% endif %}
        {% if page.tags %}
        <span class="tags">
          <span class="icon-tags" title="Tags"></span>
          {% for tag in page.tags %}
          <a href="{{site.JB.tags_path}}#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
          {% endfor %}
        </span>
        {% endif %}
    </div>
    <div class="post">
        {{ content }}
    </div>
</div>

{% if page.previous or page.next %}
<div id="page_nav">
    {% if page.previous %}
    <a href='{{page.previous.url}}'>← Prev</a>
    {% endif %}
    {% if page.next %}
    <a href='{{page.next.url}}'>Next →</a>
    {% endif %}
</div>
{% endif %}